*{
	margin: 0;
	padding: 0;
}

.container{
	width: 1250px;
	/*height: 1000px;*/
	border: 1px solid #000;
	margin: 0 auto;
	background-color: rgba(0,0,0,.7);
}

body{
	background: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
}

.header{
	height: 140px;
	padding: 10px;
	box-sizing: border-box;
}

.nav{
	height: 40px;
	background-color: #b01103;
}

.nav li{
	display: inline;
	line-height: 40px;
}

.nav li a{
	color: #fff;
	text-decoration: none;
	padding: 12px 20px;
}

.nav li a:hover{
	background-color: #fff;
	color: #b01103;
}

.text-center{
	text-align: center;
}
/*
.slider{
	padding: 15px;
}*/

.content{
	color: white;
	padding: 15px;
}

.footer{
	color: #fff;
	background-color: #b01103;
	height: 50px;
	line-height: 70px;
	text-align: center;
	padding: 5px;
}